.main-section {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.main-section, .flex1,
.flex1 img, .box8  {
    display: flex;
}

.ham {
    display: none;
}

.flex1 {
    position: relative;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.flex1 img {
   width: 100%;
}

.header-content {
    position:absolute;
    top: 50px;
}

.nav-list, .header-content {
    color: white;
}

.nav-list {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-list li {
    font-size:x-large;
    display: inline;
    margin-left: 20px;
    padding: 10px;
}

li:hover {
    color: black;
    cursor: pointer;
    border-radius: 30px;
    border-radius: 10px;
    background-color: white;
}

.nav-footer li {
    cursor: pointer;
    font-size:medium;
    float: left;
    list-style-type: none;
    padding-left: 20px;
}

.sunny {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    color: white;
}

h1 {
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

span {
    text-decoration: underline;
}

[class^="box"] {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 50%;
}

.box2, .box5 {
    height: 300px;
   display: flex;
}

.box5 *, .box2 * {
        text-align: start;
    }

.box8, .box9, .box10, .egg, .footer {
        width: 100%;
 }

 .box8 {
    justify-content: center;
    letter-spacing: 5px;
}

.box9 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box10 {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .img-header {
    width: 100vw;
 }

 .box10 img {
    width:25%;
}

.clients {
    width: 300px;
}

.client-image {
    border-radius: 100px;
}

.clients h4 + p {
    opacity: 0.5;
}

.footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(168, 34%, 41%);
}

.img-footer img {
    padding: 50px 10px ;
}

.text {
    font-size:small;
    bottom: 150px;
    position: relative;
    text-align: center;
   }

   .text2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen  and (max-width: 800px) {

    .main-section {
        flex-direction: column;
    }

    [class^="box"] {
        flex-direction: column;
        width: 100%;
    }

    .ham {
        display: inline-block;
        position:absolute ;
        right: 0;
        padding: 5px;
    }

    .ham:hover + .nav-list {
        display: inline-block;
        background-color: white;
        color: black;
        top:0;
        right: 0;
    }
    
    .ham:hover + .nav-list li {
            display: block;
            padding-bottom:20px ;
     }

    .nav-list {
        display: none;
     }

     .flex1 h2 {
        margin: 0;
     }
    
     .box5 *, .box2 * {
            text-align: center;
     }

     .clients {
            width: 100%;
            margin-top: 50px;
     }
        
        
     .clients img + p {
            font-size:larger;
            width: 400px;
            margin: auto;
     }
        
     .box10 {
            flex-direction: row;
            flex-wrap: wrap;
      }
        
     .box10 img {
            width:50%;
      }
    }